@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html lang="en">
    
<div class="container text-center" style="padding:0px 0px 0px 0px" >
    <div class="row">
        <div class="col order-first" style="background-color:#AFD7E3 ;border:solid">
            <br />
            <h2 style="color:white ">ONLINE EXAMINATION</h2><br />
            <p style="font-size:20px ">
                Embrace convenience, empower learning,
                excel online. Explore knowledge, transcend boundaries,
                master your path.
                Online examinations: where ambition meets opportunity,
                and success knows no limits.
            </p>
            <div>
                <br />
                <a class="nav-link" style="color:#286575" asp-area="" asp-controller="Admin" asp-action="Register">
                <button style="border:none ;border-radius:14px ; width:120px ;font-size:larger ; font-weight:650">  Register  </button></a>
            </div>
        </div>
        <div class="col order-last">
            <img src="~/Images/home.png">
        </div>
        
    </div><br /><br />


    <div class="col">
        <h2>Online Examination</h2>
        Experience the ease of learning and assessing with our user-friendly online examination platform.
        Simplify the testing process, enhance engagement, and empower both educators
        and learners with seamless navigation and intuitive design. With our system, education becomes accessible,
        enjoyable, and effective, ensuring a smooth journey towards academic success
    </div><br /><br />

    <div class="col" style="background-color:#EBF8FC">
        <br />
        <h3 style="color:#286575">Why use our online examination tool?</h3><br />
        <p style="color:#286575">
            Choose our online examination tool for unparalleled convenience, reliability, and efficiency.
            With seamless access anytime, anywhere, you can streamline assessment processes, save valuable time, and
            ensure fair and accurate evaluations. Our platform offers robust features, intuitive interface,
            and comprehensive support, empowering educators to focus on teaching while students excel with confidence.
            Join us in revolutionizing education with simplicity and effectiveness  
        </p>
    </div>
    <br />
    <div class="container text-center">
        <div class="row ">
            
            <div class="col" style="border:solid ;border-color:#286575; background-color:#EBF8FC">
                <div class="row">
                    <img src="~/Images/easy_use.png">
                </div>
                Simplify assessment with our user-friendly
                online examination platform.
                Intuitive design and seamless navigation empower
                both educators and learners to focus
                on knowledge, not technology.
            </div>
            
            <div class="col" style="border:solid ;border-color:#286575; background-color:#EBF8FC ">
                <div class="row">
                    <img src="~/Images/look_great.png">
                </div>
                It doesn't matter if you are on a phone, tablet or pc:
                your online exam will look beautiful.
                Our online examination system is fully responsive,
                so you can engage your audience on any platform.
            </div>
            <div class="col" style="border:solid ;border-color:#286575; background-color:#EBF8FC">
                <div class="row">
                    <img src="~/Images/support.png">
                </div>
                Do you have any questions about our
                online examination software?
                Our support are always by your side and
                provide you with the best possible support!
            </div>
        </div>
    </div>
</div>

</html>
